# **What is Hive **
Apache Hive is a data ware house system for Hadoop that runs SQL like queries called HQL (Hive query language) which gets internally converted to map reduce jobs. Hive was developed by Facebook. It supports Data definition Language, Data Manipulation Language and user defined functions.

Using Hive to create and read a table - Simple Example

*Hive Services*
The following are the services provided by Hive:-

Hive CLI - The Hive CLI (Command Line Interface) is a shell where we can 
execute Hive queries and commands.

Hive Web User Interface - The Hive Web UI is just an alternative of Hive CLI. It provides a web-based GUI for executing Hive queries and commands.

Hive MetaStore - It is a central repository that stores all the structure information of various tables and partitions in the warehouse. It also includes metadata of column and its type information, the serializers and deserializers which is used to read and write data and the corresponding HDFS files where the data is stored.

In [ ]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [ ]:
pip install pyspark==2.4.0

Requirement already satisfied: pyspark==2.4.0 in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.7/dist-packages (from pyspark==2.4.0) (0.10.7)

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from os.path import abspath

from pyspark.sql import Row
warehouse_location = abspath('spark-warehouse')
spark = SparkSession.builder.appName("Python Spark SQL Hive integration example").getOrCreate()

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
dataset = spark.read.csv('example1.csv',inferSchema=True, header =True)
dataset.printSchema()

root
 |-- 1: integer (nullable = true)
 |-- aaaa: string (nullable = true)
 |-- bbb: string (nullable = true)
 |-- ccc: string (nullable = true)

In [ ]:
from pyspark.sql import Row
from pyspark.sql import HiveContext
sc = spark.sparkContext
sqlContext = HiveContext(sc)
test_list = [('A', 25),('B', 20),('C', 25),('D', 18)]
rdd = sc.parallelize(test_list)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)
# Register it as a temp table
sqlContext.registerDataFrameAsTable(schemaPeople, "test_table")
sqlContext.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |test_table|       true|
+--------+----------+-----------+

In [ ]:
sqlContext.sql("Select * from test_table").show()

+----+---+
|name|age|
+----+---+
|   A| 25|
|   B| 20|
|   C| 25|
|   D| 18|
+----+---+

In [ ]:
## Colab code only - DO NOT run outsie of colab
from google.colab import files  
files.upload()

Saving Info.json to Info.json

{'Info.json': b'{"firstName":"John", "lastName":"Doe","age":30},\r\n{"firstName":"Anna", "lastName":"Smith","age":25},\r\n{"firstName":"Peter", "lastName":"Jones","age":16},\r\n{"firstName":"Shweta", "lastName":"Yadav","age":21},\r\n{"firstName":"ankii", "lastName":"Smith","age":34},\r\n{"firstName":"Tokyo", "lastName":"Jones","age":18}'}

In [ ]:
from pyspark.sql import HiveContext
hiveCtx = HiveContext(sc)
ex1 = hiveCtx.read.json("Info.json")
ex1.registerTempTable("ex1")
results = hiveCtx.sql("SELECT firstName, lastName,age FROM ex1").show()

+---------+--------+---+
|firstName|lastName|age|
+---------+--------+---+
|     John|     Doe| 30|
|     Anna|   Smith| 25|
|    Peter|   Jones| 16|
|   Shweta|   Yadav| 21|
|    ankii|   Smith| 34|
|    Tokyo|   Jones| 18|
+---------+--------+---+