<a href="https://colab.research.google.com/github/siu1997/Big-Data-Analytics/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practical 1
#File Handling and Functional Programming


#Theory
File handling is an important part of any web application. Python has several functions for creating, reading, updating, and deleting files. The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

File Handling

In [1]:
#create a file in sample data and write line to file
with open('/content/sample_data/Ex1.tex', 'w') as writefile:
  writefile.write("This is my first line.")

In [2]:
#read the file and display the content of file
with open('/content/sample_data/Ex1.tex', 'r') as writefile:
  print(writefile.read())

This is my first line.

In [3]:
#append text into file
with open('/content/sample_data/Ex1.tex', 'a') as writefile:
  writefile.write('\n This is second line\n')
  writefile.write('this is third line.')

store text into a variable

In [4]:
Text1 = "Apache Hadoop is a collection of open-source software utilities that facilitates using a network of many computers to solve problems involving massive amounts of data and computation. It provides a software framework for distributed storage and processing of big data using the MapReduce programming model. Wikipedia"

In [5]:
with open('/content/sample_data/Ex1.txt', 'a') as writefile:
    writefile.write(Text1)

In [6]:
#copy the content of one file to another file
with open('/content/sample_data/Ex1.txt', 'r') as readfile:
  with open('/content/sample_data/Ex2.txt', 'w') as writefile:
    for line in readfile:
      writefile.write(line)

# Functional Programming

In [7]:
#create function in python to calculate the square of a number
def sqNo(x):
  return x*x
#call the function
x=5
sqNo(x)

25

In [8]:
#create a list and append the value into existing list
l1=[1,2,3,4,5,6]
l2=[11,12,13,14,15,16]
for i in l2:
  l1.append(i)
l1

[1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16]

In [9]:
#Pass list data to the function and return the list
#Ca;lculate the square of each element of list
def mydb1(data):
  result=[]
  for i in data:
    result.append(i*i)
  return result
#call the function
mydb1([11, 12, 13, 14, 15])

[121, 144, 169, 196, 225]

In [10]:
#Functional programming traditional approach
def squared(x):
  return x*x

In [11]:
def double(x):
  return x*2

In [12]:
def squareAll(data):
  result=[]
  for i in data:
    result.append(squared(i))
  return(result)

In [13]:
def doubleAll(data):
  result=[]
  for i in data:
    result.append(double(i))
  return result

In [14]:
def apply_f_All(f, data):
  result=[]
  for x in data:
    result.append(f(x))
  return result
apply_f_All(squared, [1,2,3,5,6])

[1, 4, 9, 25, 36]

#Functional programming using lambda expression

In [15]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [16]:
# Lambda function to calculate square of a number
square = lambda x: x ** 2
print(square(3)) # Output: 9

# Traditional function to calculate square of a number
def square1(num):
  return num ** 2
print(square(5)) # Output: 25

9
25

In [17]:
lambda_func = lambda x: True if x**2 >= 10 else False
print(lambda_func(3)) # Returns False
print(lambda_func(4)) # Returns True

False
True

In [18]:
my_dict = {"A": 1, "B": 2, "C": 3}
sorted(my_dict, key=lambda x: my_dict[x]%3) # Returns ['C', 'A', 'B']

['C', 'A', 'B']